.ServiceSectionCard {
  width: 250px;
  height: auto;
  background-color: #404040;
  border-radius: 15px 15px 50px 15px;
  transition: filter 0.2s;
}

.ServiceSectionCard:hover {
  filter: saturate(0) contrast(0.8);
}

.Image {
  border-radius: 15px 15px 40px 0;
}

.TexteContainer {
  padding: 12px 0 0 13px;
}

.Title {
  font-weight: 700;
  font-size: 18px;
  color: white;
  margin: 0;
}

.Price {
  font-weight: 700;
  font-size: 30px;
  color: white;
  position: relative;
  bottom: 10px;
}

